# Archivos de entorno
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
ENV/
.env.bak

# Docker
*.log
docker-compose.override.yml

# VSCode
.vscode/

# Otros
.DS_Store
*.sqlite3
